*~
*.kate-swp
*.beam
*.bup
*.log
*.dump
*.pyc
*.swp
*.so
*/db/*
*.config
*.project
*.settings
*.directory
*.vpn

grizzlyhockey/project/media/filer_public/
grizzlyhockey/project/media/filer_public_thumbnails/


