{% load cms_tags sekizai_tags menu_tags typogrify_tags insert_tags %}
{% block doctype %}<!DOCTYPE html>{% endblock doctype %}
{% block html_tag %}<html lang="en" >{% endblock html_tag %}
{% spaceless %}<head>
{% block scripts %}{% endblock scripts %}
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

{% block meta %}
    {% if meta.items %}
        {% for name,content in meta.items %}
            <meta name="{{ name }}" content="{{ content }}" />
        {% endfor %}
    {% else %}
        <meta name="description" content="{% page_attribute meta_description %}"/>
    {% endif %}
{% endblock meta %}

{% block title %}<title>{% page_attribute title %}</title>{% endblock %}

{% block favicon %}
<link rel="icon"
      type="image/png"
      href="{{ STATIC_URL }}arkestra/images/arkestra-favicon.png">
{% endblock favicon %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_lists.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_images.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_layout.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_navigation.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_presentation_editor.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/temporaryhacks.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/carousel.css" />

<!--[if lte IE 8]><link href="{{ STATIC_URL }}arkestra/css/ie-fixes/ie-lte-8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if lte IE 7]><link href="{{ STATIC_URL }}arkestra/css/ie-fixes/ie-lte-7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if lte IE 6]><link href="{{ STATIC_URL }}arkestra/css/ie-fixes/ie-lte-6.css" rel="stylesheet" type="text/css" /><![endif]-->

    {% block extrastyles %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" />
    {% endblock extrastyles %}

    {% block site_styles %}

<style>
.carousel-btn{
    width:10%;
}
.team-human-metrics{
    text-align:center;
}
.carousel{
    overflow:hidden;
    background: black;
    min-height: 300px;
}
.carousel-inner-image{
    display: block;
    min-width: 1000px;
    min-height: 300px;
    background-color:blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.center{
    text-align:center;
}

.dl-team-playercard dt{
    width: 5em;
}

.dl-team-playercard dd{
    margin-left: 6em;
}

.navbar-logo{
    width:  132px;
    height: 50px;
    background-image: url('{{ STATIC_URL }}grizzly/title-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
}

</style>

    {% endblock site_styles %}

{% endblock styles %}

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

{% endspaceless %}

<!-- \/ -->{% render_block "css" %}<!-- \/ -->
<!-- \/ -->{% render_block "js" %}<!-- \/ -->

</head>

{% spaceless %}
<body {% block body_attributes %}{% endblock body_attributes %}>
    {% cms_toolbar %}
    {% with placeholder_width=960 generic_main_width=523 sidebar_image_size="294x196" entity_image_size="445x384" entity_map_size="445x100" person_map_size="445x100" sidebar_map_size="296x100" person_image_size="460x460" person_thumbnail_size="40x40" lightbox_max_dimension=600 plugin_thumbnail_size="75x75" place_image_size="627x418" place_map_size="294x182" body_heading_level=2 %}
        {% block body %}
                <div id="outer-wrapper">
                    {% block outer_wrapper_top %}{% endblock %}
                    <div id="inner-wrapper">
                        {% block menu %}
                        <div class="navbar navbar-fixed-top navbar-default" role="navigation">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    </button>
                                    <a class="navbar-brand navbar-logo" href="/">&nbsp;</a>
                                </div>
                                <div class="collapse navbar-collapse">

                                    <ul class= "nav navbar-nav">
                                        <li><a href="{% url news-list %}">Новости</a><li>
                                        <li><a href="{% url game-division-list %}">Дивизионы</a><li>
                                        <li><a href="{% url team-list %}">Команды</a><li>
                                        {% show_menu 0 100 0 1 "cms/arkestra_menu.html" "" "" %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                        {% endblock menu %}
                        {% block body_content %}
                        <div class="container">
                            {% block pagetitle %}
                                {% if not current_page.flags.no_page_title %}
                                    {% filter typogrify %}
                                    <h{{PAGE_TITLE_HEADING_LEVEL}}>
                                        {% page_attribute title %}
                                    </h{{PAGE_TITLE_HEADING_LEVEL}}>
                                    {% endfilter %}
                                {% endif %}
                            {% endblock pagetitle %}
                            {% block main_page_body %}
                                {% filter amp|smartypants|caps|initial_quotes %}
                                    {% placeholder body %}
                                {% endfilter %}
                            {% endblock main_page_body %}
                        </div>
                        {% endblock body_content %}
                    </div>
                    <footer>
                        {% block footer %}
                            {% insert "footer" %}
                        {% endblock footer %}
                    </footer>
                </div>
        {% endblock body %}
    {% endwith %}
</body>
{% endspaceless %}

{% block post_body_scripts %}{% endblock post_body_scripts %}
</html>
