{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags typogrify_tags insert_tags %}



{% block body_content %}
<div class="container">
    {% block pagetitle %}
        {% if not current_page.flags.no_page_title %}
            {% filter typogrify %}
                <h{{PAGE_TITLE_HEADING_LEVEL}}>
                    {% page_attribute title %}
                </h{{PAGE_TITLE_HEADING_LEVEL}}>
            {% endfilter %}
        {% endif %}
    {% endblock pagetitle %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-sm-4 pull-right" >
                <div class="list-group">
                    <p>
                        {% placeholder right-line %}
                    </p>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="pull-right visible-xs">
                </p>
                <!-- <div class="jumbotron">-->
                {% placeholder banner-roller %}
                <!--</div>-->
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        {% placeholder north-west %}
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-lg-4">
                        {% placeholder north-center %}
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-lg-4">
                        {% placeholder north-east %}
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-lg-4">
                        {% placeholder south-west %}
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-lg-4">
                        {% placeholder south-center %}
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-lg-4">
                        {% placeholder south-east %}
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/span-->
            <!--/span-->
        </div>
        <!--/row-->
        <footer>
            <p>&copy; Company 2014</p>
        </footer>
    </div>
    <!--/.container-->
</div>
{% endblock body_content %}
