{% load cms_tags cache %}
{% load typogrify_tags %}
{% load menu_tags %}

{#% cache CMS_CONTENT_CACHE_DURATION menu page.id lang current_page.id %#}
{% for child in children %}
    {% if child.children %}
        <li class="dropdown">
            <a style="padding-left:1px;" class="dropdown-toggle" data-toggle="dropdown" href="#">
                &nbsp;{{ child.get_menu_title|amp|smartypants|caps|initial_quotes }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a  href="{{ child.get_absolute_url }}"
                        class="{{ child.selected|yesno:"selected,"}}{{ child.children|yesno:" children,"}}"
                    >
                        {{ child.get_menu_title|amp|smartypants|caps|initial_quotes }}
                    </a>
                </li>

                {% show_menu from_level to_level extra_inactive extra_active template "" ""  child %}
            </ul>
        </li>

    {% else %}

        <li>
            <a  href="{{ child.get_absolute_url }}"
                class="{{ child.selected|yesno:"selected,"}}{{ child.children|yesno:" children,"}}"
            >
                {{ child.get_menu_title|amp|smartypants|caps|initial_quotes }}
            </a>
        </li>

    {% endif %}

{% endfor %}


{#% endcache %#}
