{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title center">
            <span>c&nbsp;</span>
            <date>{{ gametournamentregular.start_datetime }}</date>
            <span>&nbsp;по&nbsp;</span>
            <date>{{ gametournamentregular.stop_datetime  }}</date>
        </div>
    </div>
    <!--
        Вариант с таблицей, хотя и получается достаточно красивым,
        Но не очень применим для большого числа команд,
        возможно, надо будет подумать об адаптивном варианте.
        Если число команд, больше некоторого значения, то применять,
        media как и везде.
    -->
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="center" >Команды</th>
                {% for tourno in gametournamentregular.get_tours %}
                    <th class="center"> {{tourno}} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for team in gametournamentregular.teams.all|dictsort:"ctime" %}
                <tr>
                    <th class="center">
                        <div>
                            {% if team.image %}
                                <a href="{% url team-detail pk=team.id %}">
                                    <img  class="img-thumbnail" src="{% thumbnail team.image 64x64 crop %}"
                                        {% if team.image.alt %}
                                            alt="{{ team.image.alt }}"
                                        {% endif %}
                                    />
                                </a>
                            {% else %}
                                <div class="img-null p64x64 img-thumbnail">
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url team-detail pk=team.id %}">
                                «{{team.name}}»
                            </a>
                        </div>
                    </th>
                    {% for tourno in gametournamentregular.get_tours %}
                        <td class="center">
                            {% for gamematch in gametournamentregular.gamematch_set.all %}
                                {% if gamematch.tourno == tourno %}
                                        {% if team == gamematch.team_a %}
                                            <div class="text-sm">
                                                <span class="tourno-mark">{{tourno}}</span>
                                                <div>
                                                    {% if gamematch.team_b.image %}
                                                        <a href="{% url game-match-detail pk=gamematch.id %}">
                                                            <img  class="img-thumbnail" src="{% thumbnail gamematch.team_b.image 32x32 crop %}"
                                                                {% if gamematch.team_b.image.alt %}
                                                                    alt="{{ gamematch.team_b.image.alt }}"
                                                                {% endif %}
                                                            />
                                                        </a>
                                                    {% else %}
                                                        <div class="img-null p32x32 img-thumbnail">
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <a href="{% url game-match-detail pk=gamematch.id %}">
                                                        «{{gamematch.team_b.name}}»
                                                    </a>
                                                </div>

                                            {% if gamematch.score_a %}
                                                    {% if gamematch.score_b %}
                                                        <a href="{% url game-match-detail pk=gamematch.id %}">
                                                        <div title="Счет">
                                                            <span>{{gamematch.score_a}}</span>
                                                            <span>&nbsp;:&nbsp;</span>
                                                            <span>{{gamematch.score_b}}</span>
                                                        </div>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if gamematch.start_datetime %}
                                                    <a href="{% url game-match-detail pk=gamematch.id %}">
                                                    <div class="small-text datetime-mark" title="Дата">
                                                        <div>{{gamematch.start_datetime|date:"Y M d"}}&nbsp;</div>
                                                        <div>{{gamematch.start_datetime|date:"H:i"}}</div>
                                                    </div>
                                                    </a>
                                                {% endif %}

                                            </div>
                                        {% endif %}
                                        {% if team == gamematch.team_b %}
                                            <div class="text-sm">
                                                <span class="tourno-mark">{{tourno}}</span>
                                                <div >
                                                    {% if gamematch.team_a.image %}
                                                        <a href="{% url game-match-detail pk=gamematch.id %}">
                                                            <img  class="img-thumbnail" src="{% thumbnail gamematch.team_a.image 32x32 crop  %}"
                                                                {% if gamematch.team_a.image.alt %}
                                                                    alt="{{ gamematch.team_a.image.alt }}"
                                                                {% endif %}
                                                            />
                                                        </a>
                                                    {% else %}
                                                        <div class="img-null p32x32 img-thumbnail">
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <a href="{% url game-match-detail pk=gamematch.id %}">
                                                        «{{gamematch.team_a.name}}»
                                                    </a>
                                                </div>

                                                {% if gamematch.score_a %}
                                                    {% if gamematch.score_b %}
                                                        <div title="Счет">
                                                            <span>{{gamematch.score_b}}</span>
                                                            <span>&nbsp;:&nbsp;</span>
                                                            <span>{{gamematch.score_a}}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}

                                                {% if gamematch.start_datetime %}
                                                    <div class="small-text datetime-mark" title="Дата">
                                                        <div>{{gamematch.start_datetime|date:"Y M d"}}&nbsp;</div>
                                                        <div>{{gamematch.start_datetime|date:"H:i"}}</div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


