{% load mathfilters %}

{% load thumbnail %}
{% load sekizai_tags %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}
{% load order_by %}

<section>

    <h{{IN_BODY_HEADING_LEVEL}}>Дивизион «{{ gamedivision.name }}»</h{{IN_BODY_HEADING_LEVEL}}>

    <div class="row">
        <div class="col-lg-12">
            <section>
                <header>
                    <h3>
                        Положение команд
                    </h3>
                </header>
                <table class="table table-bordered table-striped sortable">
                    <thead>
                        <tr>
                            <th class="right"  >Команды</th>
                            <th class="center" > Игр </th>
                            <th class="center"> Выиграли </th>
                            <th class="center"> Ничьи </th>
                            <th class="center"> Проиграли </th>
                            <th class="center"> Забитые </th>
                            <th class="center"> Пропущенные </th>
                            <th class="center" > Очки </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for division_stat in gamedivision.teams_stats.all|order_by:"-season__start_datetime" %}
                            {% if forloop.counter == 1 %}
                                {% for team in division_stat.team2stat.all %}
                                    {% if not team.teamstat.is_playoff_team %}
                                    <tr>
                                        <td class="right" >
                                            <a href="{% url team-detail pk=team.team.id %}">
                                                «{{team.team.name}}»
                                            </a>
                                        </td>
                                        <td class="center" >
                                            {{team.teamstat.teamstat_regular.ngames}}
                                        </td>
                                        <td class="center">
                                            {{team.teamstat.teamstat_regular.nwins}}
                                        </td>
                                        <td class="center">
                                            {{team.teamstat.teamstat_regular.ndraws}}
                                        </td>
                                        <td class="center">
                                            {{team.teamstat.teamstat_regular.nloses}}
                                        </td>
                                        <td class="center">
                                            {{team.teamstat.teamstat_regular.ngoals}}
                                        </td>
                                        <td class="center">
                                            {{team.teamstat.teamstat_regular.nmisses}}
                                        </td>
                                        <td class="center">
                                            {{team.teamstat.teamstat_regular.npoints}}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        
                        
                        
                        
                    </tbody>
                </table>
            </section>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <section>
                <ul class="media-list">
                {% for tournament in gamedivision.gametournamentregulars.all %}
                    <li>
                        <h4 class="media-heading">
                            <a href="{% url game-tournament-regular-detail pk=tournament.id %}">
                                {{tournament.name}}
                            </a>
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                {% include "grizzly/includes/game-tournament-regular-detail-table.html" with gametournamentregular=tournament  %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <section>
                <ul class="media-list">
                {% for tournament in gamedivision.gametournamentplayoffs.all %}
                    <li>
                        <h4 class="media-heading">
                            <a href="{% url game-tournament-playoff-detail pk=tournament.id %}">
                                {{tournament.name}}
                            </a>
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                {% include "grizzly/includes/game-tournament-playoff-detail-table.html" with gametournamentplayoff=tournament  %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <header>
                <h3>
                    Положение вратарей
                </h3>
            </header>


            <table class="table table-bordered table-striped sortable">
                <thead>
                    <tr>
                        <th class="center" >Игрок</th>
                        <th class="center" >Игры</th>


                        <th class="center visible-lg visible-md" >Пропущенных голов</th>

                        <th class="center visible-lg visible-md" >Минут на воротах</th>
                        <th class="center visible-lg visible-md" >Фактор надежности</th>

                        <th class="center" >Команда</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p2t_stat in gamedivision.get_some_p2t_goalkeeper_new|dictsort:'safety_factor'  %}
                        {% for p2t in p2t_stat.player2team_set.all %}
                            {% with player=p2t.player %}
                            {% if player and p2t_stat.safety_factor != None  %}
                            {% if forloop.counter == 1 %}
                            <tr>
                                <td title="Игрок" class="players-table-detail-text">
                                    <a href="{% url player-detail pk=player.id %}">
                                        {{p2t.game_number}},
                                        {{player.second_name}}
                                        {{player.first_name}}
                                    </a>
                                    <div>
                                    {% if p2t.image %}
                                        <a href="{% url player-detail pk=player.id %}">
                                            <img  class="img-thumbnail" src="{% thumbnail p2t.image 48x48  crop %}"
                                                {% if player.image.alt %}
                                                    alt="{{ p2t.image.alt }}"
                                                {% endif %}
                                            />
                                        </a>
                                    {% else %}
                                        <div class="img-null-{{"123456"|make_list|random}} p48x48 img-thumbnail">
                                        </div>
                                    {% endif %}
                                    </div>

                                </td>
                                <td title="Игры"  class="players-table-detail-number">
                                    {{p2t_stat.ngames}}
                                </td>

                                <td title="Пропущенных голов"  class="players-table-detail-number visible-lg visible-md">
                                    {{p2t_stat.nmisses}}
                                </td>

                                <td title="Минут" class="players-table-detail-number visible-lg visible-md">
                                    {{p2t_stat.goalminutes}}
                                </td>
                                <td title="Фактор надежности"  class="players-table-detail-number visible-lg visible-md">
                                    {{p2t_stat.safety_factor|div:100|stringformat:"2.2f" }}
                                </td>

                                <td title="Команда" class="players-table-detail-text">
                                    {% with team=p2t.team %}
                                        <a href="{% url team-detail pk=team.id %}">
                                            <div>
                                                {{team.name}}
                                            </div>
                                            <div>
                                                {% if team.image %}
                                                    <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 %}"
                                                        {% if team.image.alt %}
                                                            alt="{{ team.image.alt }}"
                                                        {% endif %}
                                                    />
                                                {% else %}
                                                    <div class="img-null p48x48 img-thumbnail">
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endwith %}

                                </td>

                        </tr>
                            {% endif %}
                            {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <header>
                <h3>
                    Лучше снайперы
                </h3>
            </header>


            <table class="table table-bordered table-striped sortable">
                <thead>
                    <tr>
                        <th class="center" >Игрок</th>
                        <th class="center" >Игры</th>
                        <th class="center" >Голы</th>
                        <th class="center" >Передачи</th>
                        <th class="center visible-lg" >Голы и Передачи</th>

                        <th class="center">Амплуа</th>
                        <th class="center">Рейтинг</th>
                        <th class="center" >Команда</th>
                    </tr>
                </thead>
                <tbody>
                
                
                {% for p2t_stat in gamedivision.get_p2t_new|dictsortreversed:"ngoals"|slice:":5" %}
                    {% for p2t in p2t_stat.player2team_set.all %}
                        {% with player=p2t.player %}
                        {% if player %}
                        {% if forloop.counter == 1 %}
                        <tr>
                            <td title="Игрок" class="players-table-detail-text">
                                <a href="{% url player-detail pk=player.id %}">
                                    {{p2t.game_number}},
                                    {{player.second_name}}
                                    {{player.first_name}}
                                </a>
                                <div>
                                {% if p2t.image %}
                                    <a href="{% url player-detail pk=player.id %}">
                                        <img  class="img-thumbnail" src="{% thumbnail p2t.image 48x48  crop %}"
                                            {% if player.image.alt %}
                                                alt="{{ p2t.image.alt }}"
                                            {% endif %}
                                        />
                                    </a>
                                {% else %}
                                    <div class="img-null-{{"123456"|make_list|random}} p48x48 img-thumbnail">
                                    </div>
                                {% endif %}
                                </div>

                            </td>
                            <td title="Игры"  class="players-table-detail-number">
                                {{p2t_stat.ngames}}
                            </td>

                            <td title="Голы"  class="players-table-detail-number">
                                {{p2t_stat.ngoals}}
                            </td>
                            <td title="Передачи"  class="players-table-detail-number">
                                {{p2t_stat.ntrans}}
                            </td>


                            <td title="Голы и передачи"  class="players-table-detail-number visible-lg">
                                {{p2t_stat.ngoalsntrans}}
                            </td>


                            <td title="Амплуа" class="players-table-detail-text" >
                                {{p2t.role}}
                            </td>
                            
                            <td title="Рейтинг" class="players-table-detail-number" >
                                {{player.rating}}
                            </td>

                            <td title="Команда" class="players-table-detail-text">
                                {% with team=p2t.team %}
                                    <a href="{% url team-detail pk=team.id %}">
                                        <div>
                                            {{team.name}}
                                        </div>
                                        <div>
                                            {% if team.image %}
                                                <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 %}"
                                                    {% if team.image.alt %}
                                                        alt="{{ team.image.alt }}"
                                                    {% endif %}
                                                />
                                            {% else %}
                                                <div class="img-null p48x48 img-thumbnail">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endwith %}

                            </td>

                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <header>
                <h3>
                    Лучше ассистенты
                </h3>
            </header>


            <table class="table table-bordered table-striped sortable">
                <thead>
                    <tr>
                        <th class="center" >Игрок</th>
                        <th class="center" >Игры</th>
                        <th class="center" >Голы</th>
                        <th class="center" >Передачи</th>
                        <th class="center visible-lg" >Голы и Передачи</th>

                        <th class="center">Амплуа</th>
                        <th class="center">Рейтинг</th>
                        <th class="center" >Команда</th>
                    </tr>
                </thead>
                <tbody>
                
                
                {% for p2t_stat in gamedivision.get_p2t_new|dictsortreversed:"ntrans"|slice:":5" %}
                    {% for p2t in p2t_stat.player2team_set.all %}
                        {% with player=p2t.player %}
                        {% if player %}
                        {% if forloop.counter == 1 %}
                        <tr>
                            <td title="Игрок" class="players-table-detail-text">
                                <a href="{% url player-detail pk=player.id %}">
                                    {{p2t.game_number}},
                                    {{player.second_name}}
                                    {{player.first_name}}
                                </a>
                                <div>
                                {% if p2t.image %}
                                    <a href="{% url player-detail pk=player.id %}">
                                        <img  class="img-thumbnail" src="{% thumbnail p2t.image 48x48  crop %}"
                                            {% if player.image.alt %}
                                                alt="{{ p2t.image.alt }}"
                                            {% endif %}
                                        />
                                    </a>
                                {% else %}
                                    <div class="img-null-{{"123456"|make_list|random}} p48x48 img-thumbnail">
                                    </div>
                                {% endif %}
                                </div>

                            </td>
                            <td title="Игры"  class="players-table-detail-number">
                                {{p2t_stat.ngames}}
                            </td>

                            <td title="Голы"  class="players-table-detail-number">
                                {{p2t_stat.ngoals}}
                            </td>
                            <td title="Передачи"  class="players-table-detail-number">
                                {{p2t_stat.ntrans}}
                            </td>


                            <td title="Голы и передачи"  class="players-table-detail-number visible-lg">
                                {{p2t_stat.ngoalsntrans}}
                            </td>


                            <td title="Амплуа" class="players-table-detail-text" >
                                {{p2t.role}}
                            </td>
                            
                            <td title="Рейтинг" class="players-table-detail-number" >
                                {{player.rating}}
                            </td>
                            
                            <td title="Команда" class="players-table-detail-text">
                                {% with team=p2t.team %}
                                    <a href="{% url team-detail pk=team.id %}">
                                        <div>
                                            {{team.name}}
                                        </div>
                                        <div>
                                            {% if team.image %}
                                                <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 %}"
                                                    {% if team.image.alt %}
                                                        alt="{{ team.image.alt }}"
                                                    {% endif %}
                                                />
                                            {% else %}
                                                <div class="img-null p48x48 img-thumbnail">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endwith %}

                            </td>

                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <header>
                <h3>
                    Лучше Бомбардиры
                </h3>
            </header>


            <table class="table table-bordered table-striped sortable">
                <thead>
                    <tr>
                        <th class="center" >Игрок</th>
                        <th class="center" >Игры</th>
                        <th class="center" >Голы</th>
                        <th class="center" >Передачи</th>
                        <th class="center visible-lg" >Голы и Передачи</th>

                        <th class="center">Амплуа</th>
                        <th class="center">Рейтинг</th>
                        <th class="center" >Команда</th>
                    </tr>
                </thead>
                <tbody>
                
                
                {% for p2t_stat in gamedivision.get_p2t_new|dictsortreversed:"ngoalsntrans"|slice:":5" %}
                    {% for p2t in p2t_stat.player2team_set.all %}
                        {% with player=p2t.player %}
                        {% if player %}
                        {% if forloop.counter == 1 %}
                        <tr>
                            <td title="Игрок" class="players-table-detail-text">
                                <a href="{% url player-detail pk=player.id %}">
                                    {{p2t.game_number}},
                                    {{player.second_name}}
                                    {{player.first_name}}
                                </a>
                                <div>
                                {% if p2t.image %}
                                    <a href="{% url player-detail pk=player.id %}">
                                        <img  class="img-thumbnail" src="{% thumbnail p2t.image 48x48  crop %}"
                                            {% if player.image.alt %}
                                                alt="{{ p2t.image.alt }}"
                                            {% endif %}
                                        />
                                    </a>
                                {% else %}
                                    <div class="img-null-{{"123456"|make_list|random}} p48x48 img-thumbnail">
                                    </div>
                                {% endif %}
                                </div>

                            </td>
                            <td title="Игры"  class="players-table-detail-number">
                                {{p2t_stat.ngames}}
                            </td>

                            <td title="Голы"  class="players-table-detail-number">
                                {{p2t_stat.ngoals}}
                            </td>
                            <td title="Передачи"  class="players-table-detail-number">
                                {{p2t_stat.ntrans}}
                            </td>


                            <td title="Голы и передачи"  class="players-table-detail-number visible-lg">
                                {{p2t_stat.ngoalsntrans}}
                            </td>


                            <td title="Амплуа" class="players-table-detail-text" >
                                {{p2t.role}}
                            </td>
                            
                            <td title="Рейтинг" class="players-table-detail-number" >
                                {{player.rating}}
                            </td>
                            
                            <td title="Команда" class="players-table-detail-text">
                                {% with team=p2t.team %}
                                    <a href="{% url team-detail pk=team.id %}">
                                        <div>
                                            {{team.name}}
                                        </div>
                                        <div>
                                            {% if team.image %}
                                                <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 %}"
                                                    {% if team.image.alt %}
                                                        alt="{{ team.image.alt }}"
                                                    {% endif %}
                                                />
                                            {% else %}
                                                <div class="img-null p48x48 img-thumbnail">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endwith %}

                            </td>

                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <hr/>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <header>
                <h3>
                    Положение игроков
                </h3>
            </header>


            <table class="table table-bordered table-striped sortable">
                <thead>
                    <tr>
                        <th class="center" >Игрок</th>
                        <th class="center" >Игры</th>
                        <th class="center" >Голы</th>
                        <th class="center" >Передачи</th>
                        <th class="center visible-lg" >Голы и Передачи</th>

                        <!--
                            <th class="center visible-lg visible-md" >Пропущенных голов</th>
                            <th class="center visible-lg visible-md" >Минут на воротах</th>
                            <th class="center visible-lg visible-md" >Фактор надежности</th>
                        -->

                        <th class="center visible-lg" >Удаления</th>
                        <th class="center">Амплуа</th>
                        <th class="center">Рейтинг</th>
                        <th class="center" >Команда</th>
                    </tr>
                </thead>
                <tbody>
                
                
                {% for p2t_stat in gamedivision.get_p2t_new %}
                    {% for p2t in p2t_stat.player2team_set.all %}
                        {% with player=p2t.player %}
                        {% if player %}
                        {% if forloop.counter == 1 %}
                <tr>
                            <td title="Игрок" class="players-table-detail-text">
                                <a href="{% url player-detail pk=p2t.player.id %}">
                                    {{p2t.game_number}},
                                    {{p2t.player.second_name}}
                                    {{p2t.player.first_name}}
                                </a>
                                <div>
                                {% if p2t.image %}
                                    <a href="{% url player-detail pk=p2t.player.id %}">
                                        <img  class="img-thumbnail" src="{% thumbnail p2t.image 48x48  crop %}"
                                            {% if player.image.alt %}
                                                alt="{{ p2t.image.alt }}"
                                            {% endif %}
                                        />
                                    </a>
                                {% else %}
                                    <div class="img-null-{{"123456"|make_list|random}} p48x48 img-thumbnail">
                                    </div>
                                {% endif %}
                                </div>

                            </td>
                            <td title="Игры"  class="players-table-detail-number">
                                {{p2t_stat.ngames}}
                            </td>

                            <td title="Голы"  class="players-table-detail-number">
                                {{p2t_stat.ngoals}}
                            </td>
                            <td title="Передачи"  class="players-table-detail-number">
                                {{p2t_stat.ntrans}}
                            </td>


                            <td title="Голы и передачи"  class="players-table-detail-number visible-lg">
                                {{p2t_stat.ngoalsntrans}}
                            </td>


                            <!--
                            <td title="Пропущенных голов"  class="players-table-detail-number visible-lg visible-md">
                                {% if p2t.safety_factor != None %}
                                    {{p2t.nmisses}}
                                {% endif%}
                            </td>

                            <td title="Минут" class="players-table-detail-number visible-lg visible-md">
                                {% if p2t.safety_factor != None %}
                                    {{p2t.goalminutes}}
                                {% endif%}
                            </td>
                            <td title="Фактор надежности"  class="players-table-detail-number visible-lg visible-md">
                                {{p2t.safety_factor|default_if_none:""}}
                            </td>
                            -->

                            <td title="Удалений" class="players-table-detail-number visible-lg">
                                {{p2t_stat.nfines}}
                            </td>

                            <td title="Амплуа" class="players-table-detail-text" >
                                {{p2t.role}}
                            </td>
                            
                            <td title="Рейтинг" class="players-table-detail-number" >
                                {{player.rating}}
                            </td>

                            <td title="Команда" class="players-table-detail-text">
                                {% with team=p2t.team %}
                                    <a href="{% url team-detail pk=team.id %}">
                                        <div>
                                            {{team.name}}
                                        </div>
                                        <div>
                                            {% if team.image %}
                                                <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 %}"
                                                    {% if team.image.alt %}
                                                        alt="{{ team.image.alt }}"
                                                    {% endif %}
                                                />
                                            {% else %}
                                                <div class="img-null p48x48 img-thumbnail">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endwith %}

                            </td>

                        </tr>
                        
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





</section>


{% addtoblock "js" %}
<script src="{{ STATIC_URL }}j/moment.min.js" ></script>
<script src="{{ STATIC_URL }}j/bootstrap-sortable.js" ></script>
<script type="text/javascript">
$(document).ready(function(){
    $.bootstrapSortable(true)
});
{% endaddtoblock %}
