{% load thumbnail %}
{% load sekizai_tags %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}

<section>

    <h{{IN_BODY_HEADING_LEVEL}}>Дивизион «{{ gamedivision.name }}»</h{{IN_BODY_HEADING_LEVEL}}>

    <div class="row">
        <div class="col-lg-12">
    <section>
        <header>
            <h3>
                Положение команд
            </h3>
        </header>
        <table class="table table-bordered table-striped sortable">
            <thead>
                <tr>
                    <th class="right"  >Команды</th>
                    <th class="center" > Игр </th>
                    <th class="center"> Выиграли </th>
                    <th class="center"> Ничьи </th>
                    <th class="center"> Проиграли </th>
                    <th class="center"> Забитые </th>
                    <th class="center"> Пропущенные </th>
                    <th class="center" > Очки </th>
                </tr>
            </thead>
            <tbody>
                {% for team in gamedivision.teams.all %}
                    <tr>
                        <td class="right" >
                            <a href="{% url team-detail pk=team.id %}">
                                «{{team.name}}»
                            </a>
                        </td>
                        <td class="center" >
                            {{team.ngames}}
                        </td>
                        <td class="center">
                            {{team.nwins}}
                        </td>
                        <td class="center">
                            {{team.ndraws}}
                        </td>
                        <td class="center">
                            {{team.nloses}}
                        </td>
                        <td class="center">
                            {{team.ngoals}}
                        </td>
                        <td class="center">
                            {{team.nmisses}}
                        </td>
                        <td class="center">
                            {{team.npoints}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section>
                <ul class="media-list">
                {% for tournament in gamedivision.gametournamentregulars.all %}
                    <li>
                        <h4 class="media-heading">
                            <a href="{% url game-tournament-regular-detail pk=tournament.id %}">
                                {{tournament.name}}
                            </a>
                        </h4>
                        <div class="row">
                            <div class="col-lg-12">
                                {% include "grizzly/includes/game-tournament-regular-detail-table.html" with gametournamentregular=tournament  %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>
        </div>
    </div>


</section>


{% addtoblock "js" %}
<script src="{{ STATIC_URL }}j/moment.min.js" ></script>
<script src="{{ STATIC_URL }}j/bootstrap-sortable.js" ></script>
<script type="text/javascript">
$(document).ready(function(){
    $.bootstrapSortable(true)
});
{% endaddtoblock %}
