{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}


<section>
    <table class="table">
        {% for gamematch in gamematch_list %}
            <tr class="media">
                <td class="col-md-4 center">
                    {% with team=gamematch.team_a  %}
                        {% if team.image %}
                            <div>
                                <a href="{% url team-detail pk=team.id %}">
                                    <img  class="img-thumbnail" src="{% thumbnail team.image 64x64 %}"
                                        {% if team.image.alt %}
                                            alt="{{ team.image.alt }}"
                                        {% endif %}
                                    />
                                </a>
                            </div>
                        {% else %}
                            <div class="img-null p64x64 img-thumbnail">
                            </div>
                        {% endif %}
                        {% if team.name %}
                            <div>
                                <a href="{% url team-detail pk=team.id %}">
                                    {{team.name}}
                                </a>
                            </div>
                        {% endif %}
                    {% endwith %}
                </td>
                <td class="col-md-4 center">
                    <a href="{% url game-match-detail pk=gamematch.id %}">
                        {{gamematch.name}}
                    </a>
                    <p class="">
                        {% if gamematch.start_datetime %}
                            <div class="datetime-mark" title="Дата">
                                <span>{{gamematch.start_datetime}}&nbsp;</span>
                            </div>
                        {% endif %}
                        {% if gamematch.rink %}
                            <p>
                                <a href="{% url rink-detail pk=gamematch.rink.id %}"> {{gamematch.rink}} </a>
                            </p>
                        {% endif %}
                        <a href="{% url game-match-detail pk=gamematch.id %}">
                            <span>
                                {{gamematch.score_a|default_if_none:"?"}}
                            </span>
                            <span>&nbsp;:&nbsp;</span>
                            <span>
                                {{gamematch.score_b|default_if_none:"?"}}
                            </span>
                        </a>
                    </p>
                </div>
                <td class="col-md-4 center">
                    {% with team=gamematch.team_b  %}
                        {% if team.image %}
                            <div>
                                <a href="{% url team-detail pk=team.id %}">
                                    <img  class="img-thumbnail" src="{% thumbnail team.image 64x64 %}"
                                        {% if team.image.alt %}
                                            alt="{{ team.image.alt }}"
                                        {% endif %}
                                    />
                                </a>
                            </div>
                        {% else %}
                            <div class="img-null p64x64 img-thumbnail">
                            </div>
                        {% endif %}
                        {% if team.name %}
                            <div>
                                <a href="{% url team-detail pk=team.id %}">
                                    {{team.name}}
                                </a>
                            </div>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
    </table>


</section>
