{% load thumbnail %}
{% load sekizai_tags %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}
{% load order_by %}
<section>
    <br/>
    <ul class="media-list">
    {% for gamedivision in gamedivision_list %}
        <li class="media">
            <div class="media-body">
                <header>
                    <h3 class="media-heading">
                        <a href="{% url game-division-detail pk=gamedivision.id %}">
                            {{gamedivision.name}}
                        </a>
                    </h3>
                </header>
                <br/>
                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <table class="table table-bordered table-striped sortable">
                            <thead>
                                <tr>
                                    <th class="right" > Команды </th>
                                    <th class="center"> Игр </th>
                                    <th class="center"> Выиграли </th>
                                    <th class="center"> Ничьи </th>
                                    <th class="center"> Проиграли </th>
                                    <th class="center"> Забитые </th>
                                    <th class="center"> Пропущенные </th>
                                    <th class="center"> Очки </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for division_stat in gamedivision.teams_stats.all|order_by:"-season__start_datetime" %}
                                    {% if forloop.counter == 1 %}
                                        {% for team in division_stat.team2stat.all %}
                                            <tr>
                                                <td class="right" >
                                                    <a href="{% url team-detail pk=team.team.id %}">
                                                        «{{team.team.name}}»
                                                    </a>
                                                </td>
                                                <td class="center" >
                                                    {{team.teamstat.teamstat_all.ngames}}
                                                </td>
                                                <td class="center">
                                                    {{team.teamstat.teamstat_all.nwins}}
                                                </td>
                                                <td class="center">
                                                    {{team.teamstat.teamstat_all.ndraws}}
                                                </td>
                                                <td class="center">
                                                    {{team.teamstat.teamstat_all.nloses}}
                                                </td>
                                                <td class="center">
                                                    {{team.teamstat.teamstat_all.ngoals}}
                                                </td>
                                                <td class="center">
                                                    {{team.teamstat.teamstat_all.nmisses}}
                                                </td>
                                                <td class="center">
                                                    {{team.teamstat.teamstat_all.npoints}}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12 col-lg-12">
                        <hr/>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6  col-sm-12 col-xs-6">
                                <p class="center">
                                    <i>Лучший бомбардир</i>
                                    {% for item in gamedivision.get_max_ngoalsntrans_p2t_new %}
                                    {% for player2team in item.player2team_set.all %}
                                        {% with player=player2team.player %}
                                        {% if player %}
                                        {% if forloop.counter == 1 %}
                                        {% if forloop.parentloop.counter == 1 %}
                                    <table>
                                    <tr width="100%">
                                        <td valign="middle" width="80%" style="vertical-align:middle">
                                        <div class="center" style="font-size:14pt;"> 
                                                <b>{{player.second_name}} {{player.first_name}}</b>
                                        </div>
                                        <div class="center">
                                                {% for player2team in player.player2team_set.all %}
                                                {% if player2team.player == player and player2team.team %}
                                                <a href="{% url team-detail pk=player2team.team.id %}">
                                                    <b>&laquo;{{player2team.team}}&raquo; </b>
                                                </a>
                                                {% if player2team.role %}
                                                <dd>
                                                    <b><date>{{player2team.role|lower}}</date></b>
                                                </dd>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <dd>
                                                    {% if player.birthday %}
                                                    <b>{{player.birthday}}</b>
                                                    {% endif %}
                                                </dd>
                                            
                                        </div>
                                        </td>
                                        <td align="right" width="40%">
                                            <a title="Лучший бомбардир" href="{% url player-detail pk=player.id %}">  
                                                <div class="center" >
                                                {% if player.image %}
                                                    <img  class="img-thumbnail" src="{% thumbnail player.image 128x128 crop %}"
                                                        {% if player.image.alt %}
                                                            alt="{{ player.image.alt }}"
                                                        {% endif %}
                                                    />
                                                {% else %}
                                                    <div class="img-null-{{"123456"|make_list|random}} p128x128 img-thumbnail">
                                                    </div>
                                                {% endif %}
                                                </div> 
                                            </a>
                                        </td>
                                      </tr>
                                  </table>
                                  <table class="table table-bordered table-striped sortable">
                                    <thead>
                                        <tr>
                                            <th class="right" >  </th>
                                            <th class="center" > Игрок </th>
                                            <th class="center"> Клуб </th>
                                            <th class="center" title="Количество проведённых игр"> И </th>
                                            <th class="center" title="Забитые шайбы"> Ш </th>
                                            <th class="center" title="Передачи"> А </th>
                                            <th class="center" title="Очки"> О </th>
                                            <th class="center" title="Штрафное время"> Штр </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% endif %}
                                    <tr>
                                        <td class="center">
                                           {{ forloop.parentloop.counter }}
                                        </td>
                                        <td class="left" >
                                            <a title="Лучший бомбардир" href="{% url player-detail pk=player.id %}">  
                                                {{player.second_name}} {{player.first_name}}
                                            </a>
                                        </td>
                                        {% for player2team in player.player2team_set.all %}
                                        {% if player2team.player == player and player2team.team %}
                                        <td class="center" >
                                            <a href="{% url team-detail pk=player2team.team.id %}">
                                                «{{player2team.team}}»
                                            </a>
                                        </td>
                                        <td class="center" >
                                            {{item.ngames}}
                                        </td>
                                        <td class="center">
                                            {{item.ngoals}}
                                        </td>
                                        <td class="center">
                                            {{item.ntrans}}
                                        </td>
                                        <td class="center">
                                            <b>{{item.ngoalsntrans}}</b>
                                        </td>
                                        <td class="center">
                                            {{item.nfines}}
                                        </td>
                                    {% endif %}
                                    {% endfor %}
                                    </tr>
                                    </tbody>
                                        {% endif %}
                                        {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                        </table>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6  col-sm-12 col-xs-6">
                              <p class="center">
                                <i>Лучший снайпер</i>
                                {% for item in gamedivision.get_max_ngoals_p2t_new %}
                                    {% for player2team in item.player2team_set.all %}
                                        {% with player=player2team.player %}
                                        {% if player %}
                                        {% if forloop.counter == 1 %}
                                        {% if forloop.parentloop.counter == 1 %}
                                    <table>
                                    <tr width="100%">
                                        <td valign="middle" width="80%" style="vertical-align:middle">
                                        <div class="center" style="font-size:14pt;"> 
                                                <b>{{player.second_name}} {{player.first_name}}</b>
                                        </div>
                                        <div class="center">
                                                {% for player2team in player.player2team_set.all %}
                                                {% if player2team.player == player and player2team.team %}
                                                <a href="{% url team-detail pk=player2team.team.id %}">
                                                    <b>&laquo;{{player2team.team}}&raquo; </b>
                                                </a>
                                                {% if player2team.role %}
                                                <dd>
                                                    <b><date>{{player2team.role|lower}}</date></b>
                                                </dd>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <dd>
                                                    <b>{{player.birthday}}</b>
                                                </dd>
                                            
                                        </div>
                                        </td>
                                        <td align="right" width="40%">
                                            <a title="Лучший снайпер" href="{% url player-detail pk=player.id %}">  
                                                <div class="center" >
                                                {% if player.image %}
                                                    <img  class="img-thumbnail" src="{% thumbnail player.image 128x128 crop %}"
                                                        {% if player.image.alt %}
                                                            alt="{{ player.image.alt }}"
                                                        {% endif %}
                                                    />
                                                {% else %}
                                                    <div class="img-null-{{"123456"|make_list|random}} p128x128 img-thumbnail">
                                                    </div>
                                                {% endif %}
                                                </div> 
                                            </a>
                                        </td>
                                      </tr>
                                  </table>
                                  <table class="table table-bordered table-striped sortable">
                                    <thead>
                                        <tr>
                                            <th class="right" >  </th>
                                            <th class="center" > Игрок </th>
                                            <th class="center"> Клуб </th>
                                            <th class="center" title="Количество проведённых игр"> И </th>
                                            <th class="center" title="Забитые шайбы"> Ш </th>
                                            <th class="center" title="Передачи"> А </th>
                                            <th class="center" title="Очки"> О </th>
                                            <th class="center" title="Штрафное время"> Штр </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% endif %}
                                    <tr>
                                        <td class="center">
                                           {{ forloop.parentloop.counter }}
                                        </td>
                                        <td class="left" >
                                            <a title="Лучший снайпер" href="{% url player-detail pk=player.id %}">  
                                                {{player.second_name}} {{player.first_name}}
                                            </a>
                                        </td>
                                        {% for player2team in player.player2team_set.all %}
                                        {% if forloop.counter == 1 %}
                                        {% if player2team.player == player and player2team.team %}
                                            <td class="center" >
                                                <a href="{% url team-detail pk=player2team.team.id %}">
                                                    «{{player2team.team}}»
                                                </a>
                                            </td>
                                            <td class="center" >
                                                {{item.ngames}}
                                            </td>
                                            <td class="center">
                                                <b>{{item.ngoals}}</b>
                                            </td>
                                            <td class="center">
                                                {{item.ntrans}}
                                            </td>
                                            <td class="center">
                                                {{item.ngoalsntrans}}
                                            </td>
                                            <td class="center">
                                                {{item.nfines}}
                                            </td>
                                        
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                        {% endif %}
                                        {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                        </table>


                                </p>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-lg-6 col-md-6  col-sm-12 col-xs-6">
                              <p class="center">
                                        <i>Лучший ассистент</i>




                                    {% for item in gamedivision.get_max_ntrans_p2t_new %}
                                    {% for player2team in item.player2team_set.all %}
                                        {% with player=player2team.player %}
                                        {% if player %}
                                        {% if forloop.counter == 1 %}
                                        {% if forloop.parentloop.counter == 1 %}
                                    <table>
                                    <tr width="100%">
                                        <td valign="middle" width="80%" style="vertical-align:middle">
                                        <div class="center" style="font-size:14pt;"> 
                                                <b>{{player.second_name}} {{player.first_name}}</b>
                                        </div>
                                        <div class="center">
                                                {% for player2team in player.player2team_set.all %}
                                                {% if player2team.player == player and player2team.team %}
                                                <a href="{% url team-detail pk=player2team.team.id %}">
                                                    <b>&laquo;{{player2team.team}}&raquo; </b>
                                                </a>
                                                {% if player2team.role %}
                                                <dd>
                                                    <b><date>{{player2team.role|lower}}</date></b>
                                                </dd>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <dd>
                                                    {% if player.birthday %}
                                                    <b>{{player.birthday}}</b>
                                                    {% endif %}
                                                </dd>
                                            
                                        </div>
                                        </td>
                                        <td align="right" width="40%">
                                            <a title="Лучший ассистент" href="{% url player-detail pk=player.id %}">  
                                                <div class="center" >
                                                {% if player.image %}
                                                    <img  class="img-thumbnail" src="{% thumbnail player.image 128x128 crop %}"
                                                        {% if player.image.alt %}
                                                            alt="{{ player.image.alt }}"
                                                        {% endif %}
                                                    />
                                                {% else %}
                                                    <div class="img-null-{{"123456"|make_list|random}} p128x128 img-thumbnail">
                                                    </div>
                                                {% endif %}
                                                </div> 
                                            </a>
                                        </td>
                                      </tr>
                                  </table>
                                  <table class="table table-bordered table-striped sortable">
                                    <thead>
                                        <tr>
                                            <th class="right" >  </th>
                                            <th class="center" > Игрок </th>
                                            <th class="center"> Клуб </th>
                                            <th class="center" title="Количество проведённых игр"> И </th>
                                            <th class="center" title="Забитые шайбы"> Ш </th>
                                            <th class="center" title="Передачи"> А </th>
                                            <th class="center" title="Очки"> О </th>
                                            <th class="center" title="Штрафное время"> Штр </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% endif %}
                                    <tr>
                                        <td class="center">
                                           {{ forloop.parentloop.counter }}
                                        </td>
                                        <td class="left" >
                                            <a title="Лучший ассистент" href="{% url player-detail pk=player.id %}">  
                                                {{player.second_name}} {{player.first_name}}
                                            </a>
                                        </td>
                                        {% for player2team in player.player2team_set.all %}
                                        {% if player2team.player == player and player2team.team %}
                                        <td class="center" >
                                            <a href="{% url team-detail pk=player2team.team.id %}">
                                                «{{player2team.team}}»
                                            </a>
                                        </td>
                                        <td class="center" >
                                            {{item.ngames}}
                                        </td>
                                        <td class="center">
                                            {{item.ngoals}}
                                        </td>
                                        <td class="center">
                                            <b>{{item.ntrans}}</b>
                                        </td>
                                        <td class="center">
                                            {{item.ngoalsntrans}}
                                        </td>
                                        <td class="center">
                                            {{item.nfines}}
                                        </td>
                                    {% endif %}
                                    {% endfor %}
                                    </tr>
                                    </tbody>
                                        {% endif %}
                                        {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                        </table>
                            </p>
                            </div>
                            <div class="col-lg-6 col-md-6  col-sm-12 col-xs-6">
                                <p class="center">
                                        <i>Лучший вратарь</i>

                                {% for item in gamedivision.get_min_nmisses_p2t %}
                                {% with player=item.player %}
                                {% if player %}
                                {% if forloop.counter == 1 %}    
                                <table>
                                    <tr width="100%">
                                        <td valign="middle" width="80%" style="vertical-align:middle">
                                        <div class="center" style="font-size:14pt;">
                                            <b>{{player.second_name}} {{player.first_name}}</b>
                                        </div>
                                        <div class="center">
                                                {% for player2team in player.player2team_set.all %}
                                                {% if player2team.player == player %}
                                                <a href="{% url team-detail pk=player2team.team.id %}">
                                                    <b>&laquo;{{player2team.team}}&raquo; </b>
                                                </a>
                                                {% if player2team.role %}
                                                <dd>
                                                    <b><date>{{player2team.role|lower}}</date></b>
                                                </dd>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <dd>
                                                    <b>{{player.birthday}}</b>
                                                </dd>
                                        </div>
                                        </td>
                                        <td align="right" width="40%">
                                            <a title="Лучший вратарь" href="{% url player-detail pk=player.id %}">  
                                                <div class="center" >
                                                {% if player.image %}
                                                    <img  class="img-thumbnail" src="{% thumbnail player.image 128x128 crop %}"
                                                        {% if player.image.alt %}
                                                            alt="{{ player.image.alt }}"
                                                        {% endif %}
                                                    />
                                                {% else %}
                                                    <div class="img-null-{{"123456"|make_list|random}} p128x128 img-thumbnail">
                                                    </div>
                                                {% endif %}
                                                </div> 
                                            </a>
                                        </td>
                                      </tr>
                                  </table> 
                                  <table class="table table-bordered table-striped sortable">
                                    <thead>
                                        <tr>
                                            <th class="right" >  </th>
                                            <th class="center" > № </th>
                                            <th class="center" > Игрок </th>
                                            <th class="center"> Клуб </th>
                                            <th class="center" title="Количество проведённых игр"> И </th>
                                            <th class="center" title="Пропущено шайб"> ПШ </th>
                                            <th class="center" title="Коэффициент надёжности"> КН </th>
                                            <th class="center" title="Время на площадке"> ВП </th>
                                            <th class="center" title="Количество штрафов"> Штр </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {%endif%}
                                        <tr>
                                        <td class="center">
                                           {{ forloop.counter }}
                                        </td>
                                        <td class="left" >
                                            {{player.game_number}}
                                        </td>
                                        <td class="left" >
                                            <a title="Лучший вратарь" href="{% url player-detail pk=player.id %}">  
                                                {{player.second_name}} {{player.first_name}}
                                            </a>
                                        </td>
                                        {% for player2team in player.player2team_set.all %}
                                        {% if player2team.player == player and player2team.team %}
                                        <td class="center" >
                                            <a href="{% url team-detail pk=player2team.team.id %}">
                                                «{{player2team.team}}»
                                            </a>
                                        </td>
                                        <td class="center" >
                                            {{player2team.ngames}}
                                        </td>
                                        <td class="center">
                                            {{player2team.nmisses}}
                                        </td>
                                        <td class="center">
                                            <b>{{player2team.safety_factor}}</b>
                                        </td>
                                        <td class="center">
                                            {{player2team.goalminutes}}
                                        </td>
                                        <td class="center">
                                            {{player2team.nfines}}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}


                                {% endif %}
                                {% endwith %}
                                {% endfor %}
</tbody>
                        </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if gamedivision.detail %}
                    <p>{{gamedivision.detail}}</p>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>


</section>



{% addtoblock "js" %}
<script src="{{ STATIC_URL }}j/moment.min.js" ></script>
<script src="{{ STATIC_URL }}j/bootstrap-sortable.js" ></script>
<script type="text/javascript">
$(document).ready(function(){
    $.bootstrapSortable(true)
});
{% endaddtoblock %}
