
{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}



<div class="media">
    <div class="pull-left" href="#">
        {% if player.image %}
            <img  class="img-thumbnail" src="{% thumbnail player.image 256x256 %}"
                {% if player.image.alt %}
                    alt="{{ player.image.alt }}"
                {% endif %}
            />
        {% endif %}
        <div class="team-human-metrics">
            {% if player.birthday %}
                <div title="Дата рождения">
                    <!--
                        <span class="text-muted">
                            &nbsp;Дата рождения:&nbsp;
                        </span>
                    -->
                    <span title="Дата рождения">
                        <date>{{player.birthday}}</date>
                    </span>
                </div>
            {% endif %}
            <div>
                {% if player.height %}
                    <span title="Вес">
                        <!--
                            <span class="text-muted">
                                &nbsp;Рост:&nbsp;
                            </span>
                        -->
                        <span>
                            {{player.height}}
                        </span>
                        <span>
                            &nbsp;см.&nbsp;
                        </span>
                    </span>
                {% endif %}


                {% if player.weight %}
                    <span title="Вес">
                        <!--
                            <span class="text-muted">
                                &nbsp;Вес:&nbsp;
                            </span>
                        -->
                        <span>
                            {{player.weight}}
                        </span>
                        <span>
                            &nbsp;кг.&nbsp;
                        </span>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{player.second_name}}
            {{player.first_name}}
            {{player.patronymic}}
        </h4>

        {% for player2team in player.player2team_set.all %}
            {% if player2team.player == player %}
            <div class="row" >
                <div class="col-md-3">
                    <dl class="dl-horizontal dl-team-playercard">
                        {% if player2team.game_number %}
                            <dt class="text-muted">
                                Номер:&nbsp;
                            </dt>
                            <dd>
                                {{player2team.game_number}}
                            </dd>
                        {% endif %}
                        {% if player2team.role %}
                            <dt class="text-muted">
                                Амплуа:&nbsp;
                            </dt>
                            <dd>
                                <date>{{player2team.role}}</date>
                            </dd>
                        {% endif %}
                        {% if player2team.status %}
                            <dt class="text-muted">
                                Статус:&nbsp;
                            </dt>
                            <dd>
                                {{player2team.status}}
                            </dd>
                        {% endif %}
                        {% if player2team.player.type %}
                            <dt class="text-muted">
                                Тип:&nbsp;
                            </dt>
                            <dd>
                                {{player.type}}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
                {% endif %}
            {% endfor %}

            <div class="col-md-9">
                {% if player.qualification %}
                    <p>
                        <span class="text-muted">
                            Квалификация:&nbsp;
                        </span>
                        <span>
                            {{player.qualification}}
                        </span>
                    </p>
                {% endif %}

                {% if player.detail %}
                    <p>
                        {{player.detail}}
                    </p>
                {%endif%}
                <p>
                    {% block player_description %}
                        {% render_placeholder player.description %}
                    {% endblock player_description %}
                </p>
            </div>
        </div>
    </div>
</div>

