{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}


<section >
    <h4>
        {{rink.name}}
    </h4>

    <section class="row" >
        <div class="col-lg-4 col-md-5 col-sm-6">
            {% if rink.image %}
                <div>
                    <img  class="img-thumbnail" src="{% thumbnail rink.image 256x256 %}"
                        {% if rink.image.alt %}
                            alt="{{ rink.image.alt }}"
                        {% endif %}
                    />
                </div>
            {% else %}
                <div class="img-null p256x256 img-thumbnail">
                </div>
            {% endif %}
            <p>
                <p>
                    {% if rink.town %}
                        <span>{{rink.town}}</span>
                    {% endif %}
                    {% if rink.street %}
                        <span>,&nbsp;{{rink.street}}</span>
                    {% endif %}
                    {% if rink.house %}
                        <span>,&ensp;дом&nbsp;{{rink.house}}</span>
                    {% endif %}
                    {% if rink.building %}
                        <span>,&ensp;cт.&nbsp;{{rink.building}}</span>
                    {% endif %}
                </p>
                {% if rink.detail %}
                    <p>
                        {{rink.detail}}
                    </p>
                {%endif%}


                <!--
                <dl class="dl-horizontal dl-rinkcard">
                    <dt title="Адрес">
                        <span class="text-muted">
                            &nbsp;Адрес:&nbsp;
                        </span>
                    <dt>
                    <dd>
                        {% if rink.town %}
                            <span>{{rink.town}}</span>
                        {% endif %}
                        {% if rink.street %}
                            <span>,&nbsp;{{rink.street}}</span>
                        {% endif %}
                        {% if rink.house %}
                            <span>,&ensp;дом&nbsp;{{rink.house}}</span>
                        {% endif %}
                        {% if rink.building %}
                            <span>,&ensp;cт.&nbsp;{{rink.building}}</span>
                        {% endif %}
                    </dd>

                    {% if rink.town %}
                        <dt title="Город">
                            <span class="text-muted">
                                &nbsp;Город:&nbsp;
                            </span>
                        <dt>
                        <dd>
                            {{rink.town}}
                        </dd>
                    {% endif %}
                    {% if rink.street %}
                        <dt title="Улица">
                            <span class="text-muted">
                                &nbsp;Улица:&nbsp;
                            </span>
                        <dt>
                        <dd>
                            {{rink.street}}
                        </dd>
                    {% endif %}
                    {% if rink.street %}
                        <dt title="Дом">
                            <span class="text-muted">
                                &nbsp;Дом:&nbsp;
                            </span>
                        <dt>
                        <dd>
                            {{rink.house}}
                        </dd>
                    {% endif %}
                    {% if rink.building %}
                        <dt title="Дом">
                            <span class="text-muted">
                                &nbsp;Строение:&nbsp;
                            </span>
                        <dt>
                        <dd>
                            {{rink.building}}
                        </dd>
                    {% endif %}
                    {% if rink.detail %}
                        <dt title="Описание">
                            <span class="text-muted">
                                &nbsp;Описание:&nbsp;
                            </span>
                        <dt>
                        <dd>
                            {{rink.detail}}
                        </dd>
                    {%endif%}
                </dl>
                -->
            </p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <ul class="media-list">
                {% for gamematch in rink.gamematch_set.all %}

                    <li class="media">
                        <div class="media-body">
                                <a href="{% url game-match-detail pk=gamematch.id %}">
                                    {{gamematch.name}}
                                </a>

                                <div class="row">
                                    <div class="col-md-4 center">
                                        {% with team=gamematch.team_a  %}
                                            {% if team.image %}
                                                <div>
                                                    <a href="{% url team-detail pk=team.id %}">
                                                        <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 crop %}"
                                                            {% if team.image.alt %}
                                                                alt="{{ team.image.alt }}"
                                                            {% endif %}
                                                        />
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="img-null p48x48 img-thumbnail">
                                                </div>
                                            {% endif %}
                                            {% if team.name %}
                                                <div>
                                                    <a href="{% url team-detail pk=team.id %}">
                                                        {{team.name}}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="col-md-4 center">
                                        <div class="">
                                            {% if gamematch.score_a %}
                                                <span>
                                                    {{gamematch.score_a}}
                                                </span>
                                            {% endif %}
                                            <span>&nbsp;:&nbsp;</span>
                                            {% if gamematch.score_b %}
                                                <span>
                                                    {{gamematch.score_b}}
                                                </span>
                                            {% endif %}
                                        </div>
                                            {% if gamematch.start_datetime %}
                                                <div class="small-text datetime-mark" title="Дата">
                                                    <div>{{gamematch.start_datetime|date:"Y M d"}}&nbsp;</div>
                                                    <div>{{gamematch.start_datetime|date:"H:i"}}</div>
                                                </div>
                                            {% endif %}
                                    </div>
                                    <div class="col-md-4 center">
                                        {% with team=gamematch.team_b  %}
                                            {% if team.image %}
                                                <div>
                                                    <a href="{% url team-detail pk=team.id %}">
                                                        <img  class="img-thumbnail" src="{% thumbnail team.image 48x48 crop %}"
                                                            {% if team.image.alt %}
                                                                alt="{{ team.image.alt }}"
                                                            {% endif %}
                                                        />
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="img-null p48x48 img-thumbnail">
                                                </div>
                                            {% endif %}
                                            {% if team.name %}
                                                <div>
                                                    <a href="{% url team-detail pk=team.id %}">
                                                        {{team.name}}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>

                            {% if gamematch.detail %}
                                <p>{{gamematch.detail}}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="row" >
        <article class="col-lg-12">
            {% block rink_description %}
                {% render_placeholder rink.description %}
            {% endblock rink_description %}
        </article>
    </section>
</section>
