{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}
{% load order_by %}

    {% if role_header != "" %}<div class="well">{{ role_header }}</div>{% endif %}
    <ul class="media-list team-player-list">
        {% for player2team in team.player2team_set.all|order_by:"player__second_name" %}
            {% if player2team.role == role %}
            {% with player2team.player as player  %}
                {% if player %}
                    <li class="media">
                        <div class="pull-left" href="#">
                            <a href="{% url player-detail pk=player.id %}">
                                {% if player2team.image %}
                                    <img  class="img-thumbnail" src="{% thumbnail player2team.image 128x128 %}"
                                        {% if player2team.image.alt %}
                                            alt="{{ player2team.image.alt }}"
                                        {% endif %}
                                    />
                                {% else %}
                                    {% if player.image %}
                                        <img  class="img-thumbnail" src="{% thumbnail player.image 128x128 %}"
                                            {% if player.image.alt %}
                                                alt="{{ player.image.alt }}"
                                            {% endif %}
                                        />
                                    {% else %}
                                        <div class="img-null-{{"123456"|make_list|random}} p128x128 img-thumbnail">
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </a>
                            <div class="team-human-metrics">
                                {% if player.birthday %}
                                    <div title="Дата рождения">
                                        <!--
                                            <span class="text-muted">
                                                &nbsp;Дата рождения:&nbsp;
                                            </span>
                                        -->
                                        <span title="Дата рождения">
                                            <date>{{player.birthday}}</date>
                                        </span>
                                    </div>
                                {% endif %}
                                <div>
                                    {% if player.height %}
                                        <span title="Рост">
                                            <!--
                                                <span class="text-muted">
                                                    &nbsp;Рост:&nbsp;
                                                </span>
                                            -->
                                            <span>
                                                {{player.height}}
                                            </span>
                                            <span>
                                                &nbsp;см.&nbsp;
                                            </span>
                                        </span>
                                    {% endif %}


                                    {% if player.weight %}
                                        <span title="Вес">
                                            <!--
                                                <span class="text-muted">
                                                    &nbsp;Вес:&nbsp;
                                                </span>
                                            -->
                                            <span>
                                                {{player.weight}}
                                            </span>
                                            <span>
                                                &nbsp;кг.&nbsp;
                                            </span>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="{% url player-detail pk=player.id %}">
                                    {{player.second_name}}
                                    {{player.first_name}}
                                    {{player.patronymic}}
                                </a>
                            </h4>
                            <div class="row" >
                                <div class="col-md-3">
                                    <dl class="dl-horizontal dl-team-playercard">
                                        {% if player2team.game_number %}
                                            <dt class="text-muted">
                                                Номер:&nbsp;
                                            </dt>
                                            <dd>
                                                {{player2team.game_number}}
                                            </dd>
                                        {% endif %}
                                        {% if player2team.role %}
                                            <dt class="text-muted">
                                                Амплуа:&nbsp;
                                            </dt>
                                            <dd>
                                                <date>{{player2team.role}}</date>
                                            </dd>
                                        {% endif %}
                                        {% if player2team.status %}
                                            <dt class="text-muted">
                                                Статус:&nbsp;
                                            </dt>
                                            <dd>
                                                {{player2team.status}}
                                            </dd>
                                        {% endif %}
                                        {% if player.type %}
                                            <dt class="text-muted">
                                                Тип:&nbsp;
                                            </dt>
                                            <dd>
                                                {{player.type}}
                                            </dd>
                                        {% endif %}
                                        <!--
                                        <dt class="text-muted">
                                            Игр:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.ngames}}
                                        </dd>

                                        <dt class="text-muted">
                                            Голов:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.ngoals}}
                                        </dd>

                                        <dt class="text-muted">
                                            Передач:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.ntrans}}
                                        </dd>

                                        <dt class="text-muted">
                                            Штрафов:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.nfines}}
                                        </dd> -->
                                    </dl>
                                    
                                    
                                </div>
                                <div class="col-md-9">
                                    {% if player.qualification %}
                                        <p>
                                            <span class="text-muted">
                                                Квалификация:&nbsp;
                                            </span>
                                            <span>
                                                {{player.qualification}}
                                            </span>
                                        </p>
                                    {% endif %}
                                    {% if player.detail %}
                                        <p>
                                            {{player.detail}}
                                        </p>
                                    {%endif%}
                                </div>
                                
                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                                        {% for stat in player2team.stats.all|order_by:"-season__start_datetime" %} 
                                           {% if forloop.counter == 1 %}
                                            <li class="active">
                                          {% else %}
                                            <li>
                                          {% endif %}
                                          <a href="#tab{{ forloop.counter }}-{{player2team.id}}" role="tab" data-toggle="tab">{{ stat.season.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        {% for stat in player2team.stats.all|order_by:"-season__start_datetime" %}
                                          {% if forloop.counter == 1 %}
                                            <div class="tab-pane active" id="tab{{ forloop.counter }}-{{player2team.id}}">
                                          {% else %}
                                            <div class="tab-pane" id="tab{{ forloop.counter }}-{{player2team.id}}">
                                          {% endif %}
                                                <div class="row" >
                                                    <div class="col-md-8">
                                                        <dl class="dl-horizontal dl-playercard">
                                                            <dt class="text-muted">
                                                                Игр:&nbsp;
                                                            </dt>
                                                            <dd>
                                                                {{stat.ngames}}
                                                            </dd>

                                                            <dt class="text-muted">
                                                                Голов:&nbsp;
                                                            </dt>
                                                            <dd>
                                                                {{stat.ngoals}}
                                                            </dd>

                                                            <dt class="text-muted">
                                                                Передач:&nbsp;
                                                            </dt>
                                                            <dd>
                                                                {{stat.ntrans}}
                                                            </dd>

                                                            <dt class="text-muted">
                                                                Штрафов:&nbsp;
                                                            </dt>
                                                            <dd>
                                                                {{stat.nfines}}
                                                            </dd>
                                                            {% if stat.nfines_minutes != 0 %}
                                                            <dt class="text-muted">
                                                                Штрафов (в минутах):&nbsp;
                                                            </dt>
                                                            <dd>
                                                                {{stat.nfines_minutes}}
                                                            </dd>
                                                            {% endif %}
                                                            <dd>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                 </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                        </div>
                    </li>
                {% endif %}
            {% endwith %}
            {% endif %}
        {% endfor %}
    </ul>


</section>
