{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}
{% load order_by %}
<section>
<style media="print">
    .NoPrint {display: none;}
</style>

<style>

.p96x96{
    width:  100px;
    height: 100px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}


.img-null{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/bullit-big.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.img-null-1{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/hockey1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.img-null-2{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/hockey2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.img-null-3{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/hockey3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.img-null-4{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/hockey4.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.img-null-5{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/hockey5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.img-null-6{
    background-color: #eeeeee;
    background-image: url('{{ STATIC_URL }}grizzly/hockey6.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

</style>

<div class="NoPrint" >

    <input type="button" value="Печать" onclick="window.print();"></input>

</div>

    <div class="center">
    <!-- Проверка, чтобы не было ссылок на текущий элемент -->
    {% url team-detail pk=team.id as thisurl %}

    <h{{IN_BODY_HEADING_LEVEL}}>
        «{{ team.name }}»
            <!-- Проверка, чтобы не было ссылок на текущий элемент -->
        {% if team.image %}
                <img  src="{% thumbnail team.image 150x150 %}"
                           {% if team.image.alt %}
                              alt="{{ team.image.alt }}"
                           {% endif %}
                />
        {% else %}
            <div class="img-null p150x150 img-thumbnail">
            </div>
        {% endif %}
    </h{{IN_BODY_HEADING_LEVEL}}>


        </div>
        <table style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  font-size: 14px; line-height: 1.42857; color: #333;">
        {% for player2team in team.get_not_disqualified_players|order_by_game_number:"" %}
            {% with player2team.player as player  %}
                {% if player and not player2team.is_disqualified %}
                      
                      {% if forloop.counter == 1 %}
                         <tr >
                      {% endif %}
                        <td>
                            <table>
                                <tr colspan="2">
                                    <td colspan="2">
                            <div style="font-size:14pt; text-align: center;">
                                <b>{{player.second_name}} {{player.first_name}}</b>

                            </div></td></tr><tr>
                                <td>
                                {% if player2team.image %}
                                    <img class="img-thumbnail 96x96" src="{% thumbnail player2team.image 96x96 %}"
                                        {% if player2team.image.alt %}
                                            alt="{{ player2team.image.alt }}"
                                        {% endif %}
                                    />
                                {% else %}
                                    {% if player.image %}
                                        <img  class="img-thumbnail" src="{% thumbnail player.image 96x96 %}"
                                            {% if player.image.alt %}
                                                alt="{{ player.image.alt }}"
                                            {% endif %}
                                        />
                                    {% else %}
                                        <img  class="p96x96" src="{{ STATIC_URL }}grizzly/hockey{{"123456"|make_list|random}}.png"/>
                                    {% endif %}
                                {% endif %}
                                </td>
                                <td>
                            {% if player2team.game_number %}
                            <p>Номер:&nbsp;{{player2team.game_number}}</p>
                            {% endif %}
                                <p>{{player.role}}</p>
                                <p style=" font-size: 11px;">{{player.birthday}}</p>
                            </td>   
                            </tr></table>
                        </td>
                        {% if forloop.counter|divisibleby:4 %}
                         </tr><tr >
                        {% endif %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </table>

      <h3>Дисквалифицированы:</h3>
        <table style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  font-size: 14px; line-height: 1.42857; color: #333;">
        {% for player2team in team.get_disqualified_players|dictsort:"role" %}
            {% with player2team.player as player  %}
                {% if player and  player2team.is_disqualified %}
                      
                      {% if forloop.counter == 1 %}
                         <tr >
                      {% endif %}
                        <td>
                            <table>
                                <tr colspan="2">
                                    <td colspan="2">
                            <div style="font-size:14pt; text-align: center;">
                                <b>{{player.second_name}} {{player.first_name}}</b>

                            </div></td></tr><tr>
                                <td>
                                {% if player2team.image %}
                                    <img style="width:  100px;" class="img-thumbnail 96x96" src="{% thumbnail player2team.image 96x96 %}"
                                        {% if player2team.image.alt %}
                                            alt="{{ player2team.image.alt }}"
                                        {% endif %}
                                    />
                                {% else %}
                                    {% if player.image %}
                                        <img  class="img-thumbnail" src="{% thumbnail player.image 96x96 %}"
                                            {% if player.image.alt %}
                                                alt="{{ player.image.alt }}"
                                            {% endif %}
                                        />
                                    {% else %}
                                        <img  class="p96x96" src="{{ STATIC_URL }}grizzly/hockey{{"123456"|make_list|random}}.png"/>
                                    {% endif %}
                                {% endif %}
                                </td>
                                <td>
                            {% if player2team.game_number %}
                            <p>Номер:&nbsp;{{player2team.game_number}}</p>
                            {% endif %}
                                <p>{{player.role}}</p>
                                <p style=" font-size: 11px;">{{player.birthday}}</p>
                                {% if player.is_disqualified %}
                                <span style="color:red; font-size: 11px;">Дисквалифицирован</spam>
                            {% endif %}
                            </td>   
                            </tr></table>
                        </td>
                        {% if forloop.counter|divisibleby:4 %}
                         </tr><tr >
                        {% endif %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </table>

</section>
