{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}

<section>

    <h{{IN_BODY_HEADING_LEVEL}}>«{{ team.name }}»</h{{IN_BODY_HEADING_LEVEL}}>

    <!-- Проверка, чтобы не было ссылок на текущий элемент -->
    {% url team-detail pk=team.id as thisurl %}

    {% if request.get_full_path != thisurl %}
        <a href="{{thisurl}}">{{ team.name }}</a>
    {% endif%}
    <!-- Проверка, чтобы не было ссылок на текущий элемент -->

    <div class="media">
        <div class="pull-left" href="#">
            {% if team.image %}
                <a href="{% url team-detail pk=team.id %}">
                    <img  src="{% thumbnail team.image 150x150 %}"
                        {% if team.image.alt %}
                            alt="{{ team.image.alt }}"
                        {% endif %}
                    />
                </a>
            {% else %}
                <div class="img-null p150x150 img-thumbnail">
                </div>
            {% endif %}
        </div>
        <div class="media-body">
            {% if team.gamedivisions.count > 0 %}
                <p>
                    Дивизионы:
                    {% for division in team.gamedivisions.all %}
                        <a href="{% url game-division-detail pk=division.id %}">{{division}}</a>
                    {% endfor %}
                </p>
            {% endif %}
            <p>
                <span title="Игры" class="text-default">
                    {{team.ngames}}
                </span>
                &nbsp;
                <span title="Победы" class="text-success">
                    {{team.nwins}}
                </span>
                &nbsp;
                <span title="Поражения" class="text-danger">
                    {{team.nloses}}
                </span>
                &nbsp;
                <span title="Очки" class="text-warning">
                    {{team.npoints}}
                </span>
            </p>
            {% if team.detail %}
                <p>{{team.detail}}</p>
            {% endif %}
            {% block team_description %}
                <div>
                    {% render_placeholder team.description %}
                </div>
            {% endblock team_description %}
        </div>
    </div>

    <ul class="media-list team-player-list">
        {% for player2team in team.player2team_set.all %}
            {% with player2team.player as player  %}
                {% if player %}
                    <li class="media">
                        <div class="pull-left" href="#">
                            <a href="{% url player-detail pk=player.id %}">
                                {% if player2team.image %}
                                    <img  class="img-thumbnail" src="{% thumbnail player2team.image 128x128 %}"
                                        {% if player2team.image.alt %}
                                            alt="{{ player2team.image.alt }}"
                                        {% endif %}
                                    />
                                {% else %}
                                    {% if player.image %}
                                        <img  class="img-thumbnail" src="{% thumbnail player.image 128x128 %}"
                                            {% if player.image.alt %}
                                                alt="{{ player.image.alt }}"
                                            {% endif %}
                                        />
                                    {% else %}
                                        <div class="img-null-{{"123456"|make_list|random}} p128x128 img-thumbnail">
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </a>
                            <div class="team-human-metrics">
                                {% if player.birthday %}
                                    <div title="Дата рождения">
                                        <!--
                                            <span class="text-muted">
                                                &nbsp;Дата рождения:&nbsp;
                                            </span>
                                        -->
                                        <span title="Дата рождения">
                                            <date>{{player.birthday}}</date>
                                        </span>
                                    </div>
                                {% endif %}
                                <div>
                                    {% if player.height %}
                                        <span title="Рост">
                                            <!--
                                                <span class="text-muted">
                                                    &nbsp;Рост:&nbsp;
                                                </span>
                                            -->
                                            <span>
                                                {{player.height}}
                                            </span>
                                            <span>
                                                &nbsp;см.&nbsp;
                                            </span>
                                        </span>
                                    {% endif %}


                                    {% if player.weight %}
                                        <span title="Вес">
                                            <!--
                                                <span class="text-muted">
                                                    &nbsp;Вес:&nbsp;
                                                </span>
                                            -->
                                            <span>
                                                {{player.weight}}
                                            </span>
                                            <span>
                                                &nbsp;кг.&nbsp;
                                            </span>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="{% url player-detail pk=player.id %}">
                                    {{player.second_name}}
                                    {{player.first_name}}
                                    {{player.patronymic}}
                                </a>
                            </h4>
                            <div class="row" >
                                <div class="col-md-3">
                                    <dl class="dl-horizontal dl-team-playercard">
                                        {% if player2team.game_number %}
                                            <dt class="text-muted">
                                                Номер:&nbsp;
                                            </dt>
                                            <dd>
                                                {{player2team.game_number}}
                                            </dd>
                                        {% endif %}
                                        {% if player2team.role %}
                                            <dt class="text-muted">
                                                Амплуа:&nbsp;
                                            </dt>
                                            <dd>
                                                <date>{{player2team.role}}</date>
                                            </dd>
                                        {% endif %}
                                        {% if player2team.status %}
                                            <dt class="text-muted">
                                                Статус:&nbsp;
                                            </dt>
                                            <dd>
                                                {{player2team.status}}
                                            </dd>
                                        {% endif %}
                                        {% if player.type %}
                                            <dt class="text-muted">
                                                Тип:&nbsp;
                                            </dt>
                                            <dd>
                                                {{player.type}}
                                            </dd>
                                        {% endif %}
                                        <dt class="text-muted">
                                            Игр:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.ngames}}
                                        </dd>

                                        <dt class="text-muted">
                                            Голов:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.ngoals}}
                                        </dd>

                                        <dt class="text-muted">
                                            Передач:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.ntrans}}
                                        </dd>

                                        <dt class="text-muted">
                                            Штрафов:&nbsp;
                                        </dt>
                                        <dd>
                                            {{player2team.nfines}}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-9">
                                    {% if player.qualification %}
                                        <p>
                                            <span class="text-muted">
                                                Квалификация:&nbsp;
                                            </span>
                                            <span>
                                                {{player.qualification}}
                                            </span>
                                        </p>
                                    {% endif %}
                                    {% if player.detail %}
                                        <p>
                                            {{player.detail}}
                                        </p>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>


</section>
