{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}

<section>

    <div class="row">
        <div class="col-lg-6">

            <ul class="media-list">
                {% for team in team_list|dictsort:"ctime" %}
                    {% if not forloop.counter|divisibleby:"2" %}

                        {% include "grizzly/includes/team-list-li.html" %}

                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="media-list">
                {% for team in team_list|dictsort:"ctime" %}
                    {% if forloop.counter|divisibleby:"2" %}
                        {% include "grizzly/includes/team-list-li.html" %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</section>
