{% extends "base.html" %}

{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}


{% block title %}
    {% filter typogrify %}
        <title>Расписание</title>
    {% endfilter %}
{% endblock %}

{% block pagetitle %}
    {% filter typogrify %}
        <h{{PAGE_TITLE_HEADING_LEVEL}}>
            Расписание
        </h{{PAGE_TITLE_HEADING_LEVEL}}>
    {% endfilter %}
{% endblock pagetitle %}


{% block meta %}
    {% block meta_classic %}
        {% filter typogrify %}
            <meta name="title" content="Расписание"/>
            <meta name="description" content="
            {% for gamematch in gamematch_list %}
                {{gamematch.start_datetime}} {{gamematch.name}} {{gamematch.rink}};
            {% endfor %}"/>
            <meta name="keywords" content=""/>
        {% endfilter %}
    {% endblock meta_classic %}

    {% block meta_og %}
        {% filter typogrify %}
            <meta  property="og:title" content="Расписание">
            <meta name="og:description" content="
            {% for gamematch in gamematch_list %}
                {{gamematch.start_datetime}} {{gamematch.name}} {{gamematch.rink}};
            {% endfor %}"/>
        {% endfilter %}
    {% endblock meta_og %}

    {% block meta_mrc %}
        {% filter typogrify %}
            <meta name="mrc__share_title" content="Расписание">
            <meta name="mrc__share_description" content="
            {% for gamematch in gamematch_list %}
                {{gamematch.start_datetime}} {{gamematch.name}} {{gamematch.rink}};
            {% endfor %}"/>
        {% endfilter %}
    {% endblock meta_mrc %}
{% endblock meta %}}



{% block main_page_body %}
    <p>
        <a  href="{% url game-match-list %}" role="button">Все игры»</a>
    </p>
    {% include "grizzly/includes/game-match-schedule.html" with team=team %}
{% endblock main_page_body %}
