{% extends "base.html" %}

{% load thumbnail %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}


{% block title %}
    {% filter typogrify %}
        <title>Судья {{judge.second_name}} {{judge.first_name}} {{judge.patronymic}}</title>
    {% endfilter %}
{% endblock %}


{% block meta %}
    {% block meta_classic %}
        {% filter typogrify %}
            <meta name="title" content="{{judge.second_name}} {{judge.first_name}} {{judge.patronymic}}"/>
            <meta name="description" content="Описание ..."/>
            <meta name="keywords" content=""/>
        {% endfilter %}
    {% endblock meta_classic %}

    {% block meta_og %}
        {% filter typogrify %}
            <meta  property="og:title" content="{{judge.second_name}} {{judge.first_name}} {{judge.patronymic}}">
            <meta name="og:description" content="Описание ..."/>
        {% endfilter %}

         {% include "grizzly/includes/og-image.html" with instance=judge %}

    {% endblock meta_og %}

    {% block meta_mrc %}
        {% filter typogrify %}
            <meta name="mrc__share_title" content="{{judge.second_name}} {{judge.first_name}} {{judge.patronymic}}">
            <meta name="mrc__share_description" content="Описание ..."/>
        {% endfilter %}
    {% endblock meta_mrc %}
{% endblock meta %}}

{% block main_page_body %}
    {% include "grizzly/includes/judge-detail.html" %}
{% endblock main_page_body %}
